.question-layout {
  padding-top: 3rem;

  .context-section {
  }
  .question-number-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }

  .question-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
    text-align: left;
  }

  .question-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
  }

  .horizontal-rule {
    margin-top: 40px;
    background: #d9d9d9;
  }

  .radio-group-section {
  }
}
